from machine import ADC, Pin

# WiFi settings
ssid = 'your_SSID'
password = 'your_password'

# MQTT settings
mqtt_server = 'your_mqtt_server'
topic_pub = 'your_topic_pub'
homeassistant_discovery_prefix = 'homeassistant'

# Sensor settings
pump_relay_pin = Pin(5, Pin.OUT)  # Assuming relay is on D1

# https://randomnerdtutorials.com/esp8266-pinout-reference-gpios/
water_level_pin = ADC(0)  # Assuming water level sensor is on A0
